<nav id="navbar">
    <h1 id="navbar-title">{{title}}</h1>
    <div id="bottom-head-container">
        <ul id="links">
            <li class="nav-link"><a href="/">Home</a></li>
            <li class="nav-link"><a href="/economics">Economics</a></li>
            <li class="nav-link"><a href="/society">Society</a></li>
            <li class="nav-link"><a href="/politics">Politics</a></li>
            <li class="nav-link"><a href="/sources">Sources</a></li>
        </ul>
    </div>
</nav>