<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    </head>
    <body>
        {{>nav}}
        <div id="economic-info">
            <div id="economic-info-text">
                <h2 id="economic-h2">America's financial position</h2>
                <p id="economic-p">
                    Throughout the Cold War the economy and relationship between the U.S. and other countries have expanded during and after the Cold War. The United States created the Marshall Plan in 1948 to help and aid Western European countries to rebuild their economy from communism. It was established to help other countries rebuild their economy from a disaster.  Another effect that was happening during the Cold war was the resistance towards Communism throughout the world. The U.S. was facing communism within itself and was handling it, but allied countries needed help as well. President Harry S. Truman requested around $400 Million for economic and military aid to Greece and Turkey to be able to fight Communism and to rebuild. The Truman Doctrine states that the United States will give aid to domestic countries that are under threat from other countries or groups. The Soviet Union was defeated not by military combat, but rather was destroyed from within itself. They destroyed themselves from economic problems between leaders and the people.
                </p>
            </div>
            <div id="economic-info-img">
                <img id="economic-img" src="economy.gif">
            </div>
        </div>
    </body>
</html>