<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Work+Sans:400,700" rel="stylesheet">
    </head>
    <body>
        {{>nav}}
        <div id="body-content">
            <div id="about" class="about-universal">
                <div id="about-text">
                    <h2 id="about-h2">About this project</h2>
                    <p id="about-p">This is a final project for Dr. Stockham's APUSH course. Our focus is on the Cold War's effect on the American economy, changes in our politics, and societal developments.</p>
                </div>
                <div id="about-image">
                    <img id="soviet-pic" src="soviet.gif">
                </div>
            </div>
            <div id="about-us" class="about-universal">
                <div id="about-us-text">
                    <h2 id="about-us-h2">About the creators</h2>
                    <p id="about-us-p">Henry, Atticus, and Leo are 3 degenerates who took APUSH from 2020 to 2021 as Juniors. I think Leo is good at skiing. I have no clue what Atticus is into. Oh yeah, I'm into communism. That's really all there is to say. There is a photo of us on the right.</p>
                </div>
                <div id="about-us-image">
                    <img id="us-pic" src="the_boys.png">
                </div>  
            </div>
        </div>
    </body>
</html>